<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaowu.behappy.screw.mapper.DatabaseMapper">

    <resultMap id="database" type="org.xiaowu.behappy.screw.entity.Database">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="description" property="description" />
        <result column="pid" property="pid" />
        <result column="sortNum" property="sortNum" />
    </resultMap>

    <select id="pageDatabase" resultMap="database">
        select distinct sd.*
        from (select child.id, child.name, child.icon, child.description
              from sys_database child
                       join
                   (select sd.id,sd.name
                    from sys_database sd
                    where pid is null) parent
                   on child.pid = parent.id
                    join sys_datasource sdc on
                    sdc.name = parent.name
                <if test="datasource != null and datasource != ''">
                    and sdc.data_source = #{datasource}
                </if>
                <if test="name != null and name != ''">
                    and sdc.name = #{name}
                </if>
                <if test="database != null and database != ''">
                    and child.name = #{database}
                </if>) sd
                 join sys_role_database srd on sd.id = srd.database_id
                 join sys_role sr on srd.role_id = sr.id
        <where>
            <if test="flag != null and flag != ''">
                and sr.flag = #{flag}
            </if>
        </where>
    </select>

    <select id="findDbsOrderBySortNum" resultType="org.xiaowu.behappy.screw.entity.Database">
        select * from sys_database
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
        </where>
        union
        select child.* from sys_database child
                join (select * from sys_database
                <where>
                    <if test="name != null and name != ''">
                        name = #{name}
                    </if>
                </where>) parent
                on child.pid = parent.id
                order by sort_num desc
    </select>
</mapper>
